@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primary-color: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    background-image: radial-gradient( circle farthest-corner at 50.7% 54%,  rgba(204,254,152,1) 0%, rgba(229,253,190,1) 92.4% );
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  /* Header */
  
  header {
    padding: 1rem;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
    color: #fff;
  }
  
  header h1 {
    font-family: "Source Code Pro", monospace;
    text-align: initial;
    color: aliceblue;
  }
  
  nav {
    text-align: right;
  }
  
  nav > a {
    padding: 0 0.5rem;
  }
  
  /* Main */
  
  main {
    margin: 0 0 7rem;
  }
  
  main h1 {
    margin: 1rem;
  }
  
  /*  Input */
  
  .input-label {
    font-size: larger;
    color: var(--primary-color);
    width: 256px;
  }
  
  .input-label p {
    font-size: larger;
    margin: 0.5rem;
  }
  
  .input-text {
    font-size: 14px;
    outline: #fff;
    padding: 0.6rem 1rem;
    margin: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 258px;
  }
  
  .btn-check {
    background: var(--primary-color);
    border: none;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: #fff;
    margin: 1rem auto;
    display: block;
    font-family: "Poppins", sans-serif;
  }
  
  .output {
    font-size: x-large;
    margin: 1rem;
  }
  
  
  footer {
    text-align: center;
    padding-bottom: 1rem;
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
  }
  
  footer p {
    font-size: large;
    text-align: center;
  }
  